.inputWrapper {
  position: relative;
  width: 250px;
  height: 50px;
  font-family: "Josefin Sans", sans-serif;
}
.input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #e97451;
  border-radius: 10px;
  font-family: inherit;
  font-size: inherit;
  color: black;
  outline: none;
  padding: 10px 20px;
  background: none;
  transition: all 0.2s ease-in;
}
.inputLabel {
  position: absolute;
  left: 15px;
  top: 20px;
  font-size: 0.8em;
  padding: 0 0.5rem;
  color: black;
  cursor: text;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  background-color: white;
  z-index: inherit;
}
.input:focus ~ .inputLabel,
.input:not(:placeholder-shown).input:not(:focus) ~ .inputLabel {
  top: -10px;
  font-size: 0.8rem;
  left: 10px;
}

@media (max-width: 768px) {
  .inputWrapper {
    height: 35px;
    width: 180px;
  }
  .input {
    font-size: 0.8rem;
    border: 1px solid #ff4433;
  }
  .inputLabel {
    font-size: 0.8em;
    top: 12px;
  }
}
