.wrapper {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  height: 150px;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #d3d3d3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.header h2 {
  margin-bottom: 15px;
}
.headerContent {
  height: 60px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  height: calc(100% - 130px);
  width: 100%;
  display: flex;
}
.leftBlock,
.rightBlock {
  height: 100%;
  width: 50%;
}
.leftBlock {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  border-right: 1px solid #d3d3d3;
  padding: 0 25px;
}
.leftBlock h3 {
  margin-bottom: 10px;
}
.leftBlockHeader {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.noproductsWrapper {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.noproductsWrapper h3 {
  margin-bottom: 15px;
}
.tabsWrapper {
  height: calc(100% - 120px);
  width: 100%;
  overflow-y: auto;
  padding-left: 10px;
}
.tabWrapper {
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.imageWrapper {
  height: 95%;
  width: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.textWrapper {
  height: 100%;
  width: 35%;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}
.textWrapper h4 {
  font-weight: 600;
  margin-bottom: 5px;
}
.rightBlock {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 20px;
  border-left: 1px solid #d3d3d3;
}
.usersWrapper {
  height: 95%;
  width: 100%;
  padding: 10px 20px;
  position: relative;
}
.searchWrapper {
  position: absolute;
  top: 20px;
  height: 60px;
}
.searchResultWrapper {
  height: auto;
  width: 100%;
  overflow-y: auto;
}

.resultsWrapper {
  height: fit-content;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: white;
}

.results {
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #d3d3d3;
  display: flex;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.results:hover {
  background: #ff4433;
}
.selectedUsersWrapper {
  height: 350px;
  width: 100%;
  overflow-y: auto;
  padding: 20px;
  margin-top: 70px;
}
.userTabWrapper {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nouserWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.errorModal {
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalText {
  height: 150px;
  width: 250px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  position: relative;
}
.closeButton {
  height: 40px;
  width: 40px;
  background: #ff4433;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.modalText h3 {
  margin: 0;
}
.open {
  display: flex;
}
.close {
  display: none;
}
.cartCreatedWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cartCreatedButtons {
  display: flex;
  margin-top: 25px;
  width: 30%;
  justify-content: space-between;
}
.noproductsWrapper {
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.noproductsWrapper h3 {
  margin-bottom: 15px;
}
.cartcreatedWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.innerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.innerWrapper h3 {
  margin-top: 20px;
}
.buttons {
  height: 150px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buttonWrapper {
  height: 30px;
  width: 50px;
  border: 1px solid #d3d3d3;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
