.wrapper {
  height: 100%;
  width: 100%;
}
.backButton {
  height: 35px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 0;
  background: rgb(230, 100, 100);
}

.tabs {
  height: 90%;
  width: 100%;
  overflow-y: auto;
  padding-left: 10px;
}
.tabWrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabContent {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.buttonWrapper {
  height: 100%;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.button {
  height: 40px;
  width: 60px;
  border: 1px solid #d3d3d3;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1080px) {
}
