.wrapper {
  height: 100%;
  width: 100%;
  background-color: white;
  position: relative;
  padding: 30px;
}
.formWrapper {
  margin-top: 25px;
}
.inputWrapper {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0;
}
.inputWrapper h4 {
  font-size: 1em;
  font-weight: 600;
}
.open {
  opacity: 1;
  z-index: 1;
}
.close {
  opacity: 0;
  z-index: -1;
}
.submitButton {
  height: 100%;
  width: 100%;
  background: none;
}

.inputBoxWrapper input[type="file"] {
  position: absolute;
  left: 0;
  opacity: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background: none;
  cursor: pointer;
}
.fileUpload {
  height: 100%;
  width: 100%;
  border: 2px solid #ff4433;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-left: 20px;
}
.profilebuttons {
  max-width: 300px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.backbutton {
  display: none;
}
@media (max-width: 1080px) {
  .wrapper {
    height: fit-content;
    padding: 25px 0 0 0;
  }
  .backbutton {
    display: block;
  }
}
@media (max-width: 768px) {
  .inputWrapper {
    width: 320px;
  }
}

@media (max-width: 320px) {
  .inputWrapper h4 {
    font-size: 0.7em;
  }
  .inputWrapper {
    width: 250px;
  }
}
