.wrapper {
  height: 100%;
  width: 35%;
  background: url("./bg1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.innerWrapper {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.button {
  height: 40px;
  width: 100px;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 15px 0;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  transition: all 0.2s ease-in;
}
.button:hover {
  background: rgba(0, 0, 0, 0.4);
}
.active {
  background: rgba(0, 0, 0, 0.4);
}
@media (max-width: 768px) {
  .wrapper {
    height: 50px;
    width: 100%;
    display: flex;
    background: none;
  }
  .innerWrapper {
    flex-direction: row;
  }
  .button {
    height: 50px;
    width: 50%;
    margin: 0;
    border-radius: 0%;
    background: white;
    color: black;
  }
  .button:hover {
    background: #ff4433;
  }
  .active {
    background: #ff4433;
  }
}
