.wrapper {
  height: 100%;
  width: 100%;
  padding: 25px 10px;
  overflow-y: auto;
}
.header {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Secondwrapper {
  height: 90%;
  width: 100%;
  padding: 25px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.historyWrapper {
  height: 500px;
  width: 100%;
  padding: 25px 25px 0 10px;
  overflow-y: auto;
}

.buttonsWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

@media (max-width: 1080px) {
  .wrapper {
    height: fit-content;
  }
  .historyWrapper {
    height: fit-content;
  }
  .Secondwrapper {
    height: 500px;
  }
}
