.wrapper {
  height: 700px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.leftBlock {
  height: 100%;
  width: 35%;
  background: url("./bg.jpg");
  background-size: cover;
  background-position: center bottom;
}
.backdrop {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.rightBlock {
  margin-left: 50px;
  padding: 25px 0;
  text-align: center;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  height: fit-content;
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rightBlock h2 {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.separator {
  height: 2px;
  width: 30%;
  background-color: #ff4433;
  margin-top: 10px;
}
.tabWrapper {
  height: fit-content;
  width: 100%;
  margin: auto;
  margin-bottom: 30px;
  padding: 25px 50px;
  text-align: left;
  display: flex;
  align-items: center;
}
.iconWrapper {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 2px solid #ff4433;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 35px;
}
.text p {
  margin-top: 15px;
  font-weight: 300;
}

@media (max-width: 1366px) {
  .wrapper {
    height: 500px;
  }
  .rightBlock {
    padding: 0;
  }
  .rightBlock h2 {
    font-size: 2em;
  }
  .tabWrapper {
    padding: 15px 50px;
  }
  .iconWrapper {
    height: 60px;
    width: 60px;
  }
}
@media (max-width: 1080px) {
  .wrapper {
    height: fit-content;
    flex-direction: column;
  }
  .leftBlock {
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 30px;
  }
  .rightBlock {
    height: fit-content;
    width: 100%;
    margin: 0;
  }
}
@media (max-width: 768px) {
  .text p {
    margin-top: 10px;
  }
  .text {
    width: 75%;
  }
}
@media (max-width: 475px) {
  .rightBlock h2 {
    font-size: 1.5em;
  }
  .iconWrapper {
    height: 45px;
    width: 45px;
  }
}
